:root {
  /* These are the custom color variables used */
  --yellow-1: #ffffb7;
  --yellow-2: #fff192;
  --yellow-3: #ffea61;
  --yellow-4: #ffdd3c;
  --yellow-5: #ffd400;

  /* Custom google fonts */
  --roboto: "Roboto", sans-serif;
}

/* Global styles */
/* Global styles */
/* Global styles */

body {
  background-color: var(--yellow-3);
  font-family: Helvetica, Arial, sans-serif;
}

/* Custom button design */
.customButton {
  background-color: transparent;
  border: 1px solid black;
}

.customButton:hover {
  background-color: black;
  color: white;
}

/* NAV SECTION */
/* NAV SECTION */
/* NAV SECTION */

/* nav bar on every page */
.navbar {
  background-color: var(--yellow-3);
  border-radius: 0rem 0rem 1rem 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-brand {
  font-weight: 700;
  font-family: var(--roboto);
}

.navbar-toggler {
  border: 1px solid black;
}

/* Will only aplly inner style from set size and up */
@media (min-width: 768px) {
  .innerNavContainer {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.nav-item {
  /* color: white; */
}

.whiteText {
  color: black;
}

.newsFeedImg {
  max-width: 100%;
  max-height: 100%;
}

.newsFeedImgContainer {
  height: 18rem;
  width: 100%;
}

.postContainer {
  background-color: white;
}

.commentBox {
  width: 100%;
}

.hidden {
  display: none;
}

.backgroundWhite {
  background-color: white;
  border: 2px solid black;
  min-width: 100%;
  padding: 3rem;
}

.newComFormInput {
  width: 100%;
}

#usernameCom {
  font-weight: bold;
  text-decoration: underline;
}

/* HOME SECTION */
/* HOME SECTION */
/* HOME SECTION */

.homeContainer {
  max-width: 1200px;
}

/* Left panel container */
.leftColHome {
  min-height: 100vh;
  height: fit-content;
  overflow-y: auto;
  background-color: white;
  /* /* position: sticky; */

  border-radius: 1rem;
  /* border: 1px solid grey; */
}

/* right panel container */
.rightColHome {
  overflow-y: auto;
}

.titleContainer {
  max-width: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  /* background-color: var(--yellow-3); */
  /* border: 1px solid grey; */
}

/* Add hover effect to text */
#hideComments:hover,
#viewComments:hover {
  cursor: pointer;
  text-decoration: underline;
}

.radius {
  border-radius: 1rem;
}

/* Will only aplly inner style from set size and up */
@media (min-width: 768px) {
  .backToTop {
    position: fixed;
    z-index: 999999;
    bottom: 10px;
    right: 20px;
  }
}

.backToTop:hover {
  cursor: pointer;
}

/* The card container that hold each post */
.postCards {
  border-radius: 1rem;
}

/* Display picture in post card */
.dp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid grey;
}
/* 
.dpBoxSmall {
  height: 35px;
  width: 35px;
} */

/* Container for big display picture */
.dpBoxBig {
  height: 135px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image for big display picture */
.dpBig {
  border: 1px solid grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Post like button */
.likeButton {
  min-height: 100%;
}

/* The welcoming message on the home dash */
.homeWelcome {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--roboto);
}

.homeWelcomeContainer {
  max-width: 100%;
  border-radius: 1rem;
  background-color: var(--yellow-3);
  height: 3.5rem;
}

/* The posting message on the home dash */
.postMessage {
  font-size: 1.5em;
  font-weight: 600;
}

.postMessageContainer {
  max-width: 100%;
  border-radius: 1rem;
  background-color: var(--yellow-3);
}

/* Post header container */
.postHeader {
  height: 3.5rem;
  max-width: 100%;
  border-radius: 1rem;
  background-color: var(--yellow-3);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Text content of the user post */
.postTextContentContainer {
  padding-left: 1rem;
}

#homeMessage {
  font-size: 1.5rem;
  font-weight: 400;
}

#dpButton {
  width: 50%;
}

.newImagePostContainer {
  max-width: 350px;
  height: 350px;
  overflow: hidden;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/* Image in new post form */
.newPostImage {
  border-radius: 1rem;
  object-fit: cover;
}

/* Container for new post form */
.postFormContainer {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.newImagePost {
  max-width: 100%;
  max-height: 100%;
}

/*  ul for the people you may know section */
#peopleList {
  list-style-type: none;
}

/* li for the people you may know section */
#otherUsers {
  border: 1px solid black;
  /* border-radius: 1rem; */
}

/* New post modal header */
#modalHeader {
  margin-left: 0px;
}

/* Button to display new post form */
#showPostFormButton {
  max-width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

/* PROFILE SECION */
/* PROFILE SECION */
/* PROFILE SECION */

.heroLeftCol {
  min-width: 350px;
}

.heroRightCol {
  min-width: 350px;
}

/* Profile img  */
.profileDp {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0;
  border: 1px solid grey;
}

/* The main quote for the profile section */
.profileHeroQuote {
  font-family: var(--roboto);
}

.usernameTarget {
  /* text-decoration: underline; */
}

/* The hero section */
.profileHeroSection {
  max-width: 1200px;
}

/* The section holding all posts */
.profilePostSection {
  background-color: var(--yellow-3);
  border-top: 1px solid black;
  max-width: 1200px;
}

/* Styles post cards on user profiles */
.profileCards {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;
  border: 1px solid grey;
  overflow: hidden;
}

/* Image on profile post */
.profilePostImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Sign up section */
/* Sign up section */
/* Sign up section */

.signUpHeroText {
  font-family: var(--roboto);
  min-width: 350px;
}

.signUpCard {
  border-radius: 1rem;
  min-width: 350px;
}

.signUpContainer {
  max-width: 1200px;
}

.customButtomSignUp {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

/* Container for title info in sign up form */
.signUpTitleContainer {
  background-color: var(--yellow-3);
  border-radius: 1rem;
}

/* Sign up today title */
.signUpFormTitle {
  font-family: var(--roboto);
  font-size: 2rem;
}

/* Sign up today text */
.signUpFormText {
  font-family: var(--roboto);
  font-size: 1rem;
}

/* .emailInput {
  width: 300px;
  border-radius: 2px;
} */

/* inputs for sign up forms */
.signUpInput {
  width: 90%;
  height: 3rem;
  border-radius: 8px;
  padding-left: 1rem;
  font-size: 1.5rem;
}

/* Login section */
/* Login section */
/* Login section */

.loginInput {
  width: 90%;
  height: 3rem;
  border-radius: 8px;
  padding-left: 1rem;
  font-size: 1.5rem;
}

/* Container for title info in login form */
.signUpTitleContainer {
  background-color: var(--yellow-3);
  border-radius: 1rem;
}

.loginCard {
  border-radius: 1rem;
}

.loginUpHeroText {
  font-family: var(--roboto);
  font-size: 5rem;
}

@media (max-width: 768px) {
  .loginUpHeroText {
    font-size: 3rem;
  }
}
