{% extends 'base.html' %} {% block title %}{% endblock %} {% block content %}
<div class="container d-flex justify-content-center">
  <!-- left column -->
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle column -->
  <div class="col col-8 ms-3 me-3">
    <div class="row titleContainer">
      <h1>Take a look at some of today's outfits</h1>
      <a href="#" class="btn btn-primary">Upload Image</a>
    </div>
    <!-- New Post -->
    {% for post in all_posts %}
    <div class="card">
      <div class="">
        <img
          src="{{ url_for('static', filename='img/fashion-1.jpg') }}"
          class="card-img-top newsFeedImg"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">What shoe's should I wear?</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div>
          <form action="{{ url_for('home') }}" method="post">
            {{ newLikeForm.post_id(value=post.id) }} {{
            newLikeForm.submitLike(class="btn btn-primary") }} {{
            newComForm.hidden_tag() }}
          </form>
        </div>
        <a href="#" class="btn btn-primary">Comment</a>
        <div>
          <form action="{{ url_for('home') }}" method="post">
            {{ newComForm.post_id(value=post.id) }}
            <div>{{ newComForm.comment(class="commentBox") }}</div>
            <div>{{ newComForm.submit3(class="btn btn-primary") }}</div>
            {{ newComForm.hidden_tag() }}
          </form>
        </div>
        {% for db_comment in all_comments %}
        <div class="commentThread">
          <form action="{{ url_for('home') }}" method="post">
            <div>
              <p>{{ db_comment.content }}</p>
              {{ editComment.post_id(value=db_comment.id) }} {% if
              current_user.id == db_comment.user_id %} {{
              editComment.submitEdit(class="btn btn-primary") }}
              <div class="btn btn-primary exposeEdit">Edit comment?</div>
            </div>
            {% endif %} {{ newComForm.hidden_tag() }}
            <p>{{ editComment.edit(class="editCommentForm hidden")}}</p>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- right column -->
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
