<nav class="navbar navbar-expand-sm bg-dark text-light>
  <div class="container-fluid">
    <a
      class="navbar-brand text-light"
      href="{% if user.is_authenticated %}{{ url_for('render_home') }}{% else %}{{ url_for('render_signup') }}{% endif %}"
      >DressMe</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="{{ url_for('render_home') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            href="{{ url_for('render_profile', username=current_user.username) }}"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ url_for('logout') }}"
            >Log out</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link whiteText" href="{{ url_for('render_login') }}">Log in</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link whiteText" href="{{ url_for('render_signup') }}">Sign up</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search username"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
