{% extends 'base.html' %} {% block title %}{% endblock %} {% block content %}
<div class="container">
  <div class="col">
    <div class="row bg-light text-center p-3">
      <div class="col col-3">
        <div class="row">
          {% if image %}
          <img
            src="{{ url_for('static', filename='img/' + image.name) }}"
            alt="Image"
          />
          {% else %}
          <!-- Default display picture svg -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="250"
            height="250"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
          {% endif %}
        </div>
        <div class="row">
          <div class="d-flex justify-content-center">
            <div
              id="dpButton"
              class="btn btn-outline-secondary mt-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Upload Profile Picture
              <!-- Upload image svg -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-upload ms-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"
                />
              </svg>
            </div>
          </div>
          <!-- Modal add profile picture -->

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1
                    class="modal-title fs-5 text-center"
                    id="exampleModalLabel"
                  >
                    Upload new profile picture
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    id="dpForm"
                    action="{{ url_for('post_dp') }}"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    {{ dp_form.upload }} {{ dp_form.submit }}
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="text-end text-decoration-underline">{{ username }}</h1>
        <p>About</p>
      </div>
    </div>
    <div class="row bg-dark-subtle p-3">
      <!-- For each post associated with the profile on display create card/col -->
      <div class="col col-3">
        <div id="profileCards" class="card">
          {% if image %}
          <img
            src="{{ url_for('static', filename='img/no-image-available.jpg') }}"
            alt="Image"
          />
          {% else %}
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='img/fashion-1.jpg') }}"
            alt="Card image cap"
          />
          {% endif %}
          <div class="card-body">
            <!-- Jinja for post.content-->
            <h5 class="card-title">JinJa post.content</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div id="profileCards" class="card">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='img/fashion-1.jpg') }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <!-- Jinja for post.content-->
            <h5 class="card-title">JinJa post.content</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div id="profileCards" class="card">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='img/fashion-1.jpg') }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <!-- Jinja for post.content-->
            <h5 class="card-title">JinJa post.content</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div id="profileCards" class="card">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='img/fashion-1.jpg') }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <!-- Jinja for post.content-->
            <h5 class="card-title">JinJa post.content</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}
